Repository github/ospo-reusable-workflows, pull requests merged in 2025-01, with the labels that each got.

#2 chore: update README with some formatting
  .github/workflows/labeler.yaml
  README.md
Labels: maintenance, release

#3 fix: update discussion info for release reusable workflow
  .github/labeler.yml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/test-labeler.yaml
  README.md
  docs/faq.md
Labels: fix, release

#5 chore: change dependabot to daily from weekly
  .github/dependabot.yaml
Labels: repo, maintenance, release

#7 fix: readme links and info
  README.md
Labels: repo, fix, release

#9 docs: add more information regarding actions permissions in README
  README.md
Labels: documentation, repo, release

#11 feat: split release reusable workflow
  .github/workflows/actionlint.yaml
  .github/workflows/auto-labeler.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release-discussion.yaml
  .github/workflows/release-image.yaml
  .github/workflows/release.yaml
  .github/workflows/test-pr-title.yaml
  .github/workflows/test-release.yaml
Labels: repo, feature, release

#13 docs: docs for each reusable workflow, add to README as links
  .github/workflows/release-discussion.yaml
  .github/workflows/release-image.yaml
  .github/workflows/release.yaml
  .github/workflows/test-labeler.yaml
  .github/workflows/test-pr-title.yaml
  .github/workflows/test-release.yaml
  README.md
  docs/auto-labeler.yml
  docs/labeler.yml
  docs/pr-title.yml
  docs/release-discussion.yml
  docs/release-image.yml
  docs/release.yml
Labels: documentation, repo, release

#15 feat: allow types list to be input to reusable pr-title workflow
  .github/workflows/pr-title.yaml
  .github/workflows/test-pr-title.yaml
  docs/pr-title.md
Labels: repo, feature, release

#17 chore: add major,minor,patch labels to auto labeler
  .github/release-drafter.yaml
Labels: repo, maintenance

#18 chore: add supporting files before repo move
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  SUPPORT.md
Labels: repo, maintenance

#20 feat(ci): add scopes to pr-title reusable workflow
  .github/workflows/pr-title.yaml
  .github/workflows/test-pr-title.yaml
  docs/pr-title.md
Labels: repo, feature

#23 chore(ci): require scope on pr-title test workflow
  .github/workflows/test-pr-title.yaml
Labels: repo

#25 chore(ci): handle renames after move to GitHub org
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yaml
  .github/workflows/test-pr-title.yaml
  .github/workflows/test-release.yaml
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  SECURITY.md
  SUPPORT.md
  docs/auto-labeler.md
  docs/labeler.md
  docs/pr-title.md
  docs/release-discussion.md
  docs/release-image.md
  docs/release.md
Labels: repo, maintenance

#26 chore: update immutable actions to semver
  .github/workflows/labeler.yaml
  .github/workflows/stale.yaml
Labels: repo, maintenance

#27 docs: update README.md
  README.md
Labels: documentation, repo

#29 chore: add scope to pr-title test
  .github/release-drafter.yaml
  .github/workflows/test-pr-title.yaml
Labels: repo, maintenance

#32 feat: Add attestation option to release-image
  .github/workflows/release-image.yaml
  .github/workflows/test-release.yaml
Labels: repo, feature

#35 fix: permissions for attestations image release step
  .github/workflows/release-image.yaml
Labels: repo, fix, release

#36 fix: test release-image permissions
  .github/workflows/test-release.yaml
  docs/auto-labeler.md
  docs/labeler.md
  docs/pr-title.md
  docs/release-discussion.md
  docs/release-image.md
  docs/release.md
Labels: repo, fix, release

#38 ci: reduce permissions on auto-labeler and set to not release
  .github/workflows/auto-labeler.yaml
  .github/workflows/test-auto-labeler.yaml
  .github/workflows/test-release.yaml
Labels: repo, automation, release

#40 ci: turn off image attestations temporarily until fix in place
  .github/workflows/test-release.yaml
Labels: repo

#41 ci: remove attestations temporarily
  .github/workflows/release-image.yaml
Labels: repo

#43 ci: enable attestations again
  .github/workflows/release-image.yaml
  .github/workflows/test-release.yaml
  docs/auto-labeler.md
  docs/release-image.md
Labels: repo, release

#44 fix: put argument in correct section, config, not secrets
  .github/workflows/test-release.yaml
Labels: repo, release

#46 feat: ensure contents of container image changes
  .dockerignore
  .github/workflows/test-auto-labeler.yaml
  Dockerfile
  README.md
  docs/auto-labeler.md
Labels: repo, release
